/* Ensure the sidebar z-index is higher than other elements */
#sidebar {
    z-index: auto;
}
/* Transition styles for submenu */
.admin-submenu-enter {
    max-height: 0;
    opacity: 0;
    transform: translateY(-20px);
}
.user-submenu-enter {
    max-height: 0;
    opacity: 0;
    transform: translateY(-20px);
}
.admin-submenu-enter-active {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}
.user-submenu-enter-active {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}
.admin-submenu-leave {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
}
.user-submenu-leave {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
}
.admin-submenu-leave-active {
    max-height: 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;
}
.user-submenu-leave-active {
    max-height: 0;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;
}